---
layout: default
title: About
seo:
  title: Wisdoms' Way | About
  description: >-
    Meet the guiding force behind Wisdoms' Way: Lisa is a Jungian coach and
    seasoned psychologist with decades exploring global Wisdom traditions and
    countless other healing modalities. Join her in awakening the inherent
    Wisdom within through inner exploration, creativity, and integration of
    shadow and light.
  social_image: /android-chrome-512x512.png
  keywords: >-
    wisdom traditions, psychologist, jungian coach, international traveler,
    wisdoms' way, teacher, mentor, wellness, integration of shadow and light,
    inner wisdom awakening, 
  hide-from-google: false
about_image: /uploads/lisa-tree-bali.jpg
credential_links:
  - image: /uploads/iactm-certification-logo.png
    url: https://iactm.org/
  - image: /uploads/jp-jungian-coach-certification-1.png
    url: https://jungplatform.com/
  - image: /uploads/yacep.png
    url: https://www.yogaalliance.org/
  - image: uploads/certifications/E-RYT_500_sm.png
    url: >-
      https://www.yogaalliance.org/Credentialing/Credentials_for_Teachers/Yoga_Teacher_Designation
  - image: uploads/certifications/IAYT_logo_sm.png
    url: https://www.iayt.org/
  - image: /uploads/certifications/irest-cert-bg.png
    url: https://www.irest.org/
---
<div class="min-h-[110px]"></div>

<!-- Lisa's Intro -->
{% include lisa-bio.html %}


<!-- Credentials -->
<section class="px-5p pb-5p">
  <div class="mx-auto text-center max-w-screen-2xl">
    <h2 class="pb-2 editable"> Credentials </h2>
    <p class="pb-8 editable max-md:px-8">
        Wisdoms’ Way is the alchemy of my degree in Comparative Religions and Cultures, doctoral degree in Clinical Psychology, Jungian Coaching Certification, E-500 RYT Yoga teacher certification, International Association of Yoga Therapist accreditation, Ashtanga Yoga Apprenticeship, iRest Yoga Nidra Certified teacher, Black Belt in the Nia technique, Reiki level 2 training, formal study and apprenticeship in astrology and tarot, intentional globetrotting, and being a life long practitioner of listening to the Wisdom of Nature.
    </p>
    <div class="grid items-center justify-center grid-cols-3 gap-2 md:grid-cols-5 md:gap-6 px-10p">

      {% for item in page.credential_links %}
      <a href="{{item.url}}">
        <div class="flex items-center justify-center object-cover aspect-square hover-grow">
          <img src="{{item.image}}" />
        </div>
      </a>
      <div></div>
      {% endfor %}

    </div>
  </div>
</section>

<!-- Testimonials -->
<div>
{% include testimonials.html %}
</div>
