---
layout: default
title: About
about_image: /uploads/lisa-tree-bali.jpg
credential_links:
  - image: uploads/certifications/E-RYT_500_sm.png
    url: >-
      https://www.yogaalliance.org/Credentialing/Credentials_for_Teachers/Yoga_Teacher_Designation
  - image: uploads/certifications/IAYT_logo_sm.png
    url: https://www.irest.org/
  - image: uploads/certifications/nia_black.png
    url: https://www.somaranch.com/nia-training-overview
  - image: uploads/certifications/jung_logo.svg
    url: https://jungplatform.com/
  - image: /uploads/irest-cert-bg.png
    url: https://www.irest.org/
---
<div class="min-h-[110px]"></div>

<!-- Lisa's Intro -->
{% include lisa-bio.html %}


<!-- Credentials -->
<section class="px-5p pb-5p">
  <div class="mx-auto text-center max-w-screen-2xl">
    <h2 class="pb-2 editable"> Credentials </h2>
    <p class="pb-8 editable"> I bring to Wisdoms’ Way a degree in comparative religions and cultures, a doctoral degree in clinical psychology, E-500 RYT Yoga teacher certification, International Association of Yoga Therapist accreditation, iRest Yoga Nidra Certified teacher, Black Belt in the Nia technique, Reiki level 2 training, and formal study and apprenticeship in tarot and astrology. </p>
    <div class="grid grid-cols-5 gap-6 px-10p justify-center items-center">

      {% for item in page.credential_links %}
      <a href="{{item.url}}">
        <div class="object-cover flex aspect-square justify-center items-center hover-grow">
          <img src="{{item.image}}" />
        </div>
      </a>
      <div></div>
      {% endfor %}

    </div>
  </div>
</section>

<!-- Testimonials -->
<div>
{% include testimonials.html %}
</div>
