---
layout: default
banner:
  background-position: bg-center
  banner-image: /uploads/beach_img_resized.jpg
  text-color: white
  heading: Get to Know Me
  sub-heading: 
about:
  top-line: Get to Know
  bio_image: /uploads/Lisa_tree.jpeg
  copy: "Hi, I'm Lisa! My life’s journey has been an exploration from the halls of academic medicine to meditating in remote caves, studying and gleaning insights from countless wisdom traditions across the globe. This voyage has taught me a profound truth: there isn't just one path to inner wisdom, but an infinite number. Your inner wisdom—be it intuition, inner truth, or connection with the cosmos—deserves to be discovered and celebrated. Through Wisdoms’ Way, I've fused my extensive experience and studies into a platform that meets you where you are and helps guide you toward where you yearn to be. Let's embark on this intriguing journey together."
---
<div class="min-h-[110px]"></div>

<!-- Lisa's Intro -->
{% include lisa-bio.html %}

<section class="pt-1 p-5p">
  <div class="mx-auto max-w-screen-2xl">
    <h2 class="text-3xl text-center">The Spiritual Midwife</h2>
    <div class="grid grid-cols-2 p-4">
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
      <div class="px-4 py-2"><span class="font-bold">Magna id eu exercitation reprehenderit.</span> Nostrud ut culpa est consequat exercitation ex mollit irure ipsum sit ad aliquip.</div>
    </div>
  </div>
</section> 
------->



<!-- Credentials -->
<section class="p-5p">
  <div class="mx-auto text-center max-w-screen-2xl">
    <h2 class="pb-2">Credentials</h2>
    <p class="pb-8"> I bring to Wisdoms’ Way a degree in comparative religions and cultures, a doctoral degree in clinical psychology, E-500 RYT Yoga teacher certification, International Association of Yoga Therapist accreditation, iRest Yoga Nidra Certified teacher, Black Belt in the Nia technique, Reiki level 2 training, and formal study and apprenticeship in tarot and astrology. </p>
    <div class="grid grid-cols-7">
      <div class="bg-center bg-cover rounded-full w-28 h-28" style="background-image: url('uploads/RYT_500_logo.png')"></div>
      <div></div>
      <div class="bg-center bg-cover rounded-full w-28 h-28" style="background-image: url('uploads/nia_black.png')"></div>
      <div></div>
      <div class="rounded-full w-28 h-28 bg-gold"></div>
      <div></div>
      <div class="rounded-full w-28 h-28 bg-gold"></div>
      <div></div>
      <div class="rounded-full w-28 h-28 bg-gold"></div>
      <div></div>
      <div class="rounded-full w-28 h-28 bg-gold"></div>
      <div></div>
      <div class="rounded-full w-28 h-28 bg-gold"></div>
      <div></div>
    </div>
  </div>
</section>

<!-- Testimonials -->
{% include testimonials.html %}

<!-- Behind the Logo -->
<!------ <section class="p-5p bg-pink">
  <div class="mx-auto text-center max-w-screen-2xl">
    <div class="text-center">
      <h2>Behind the Logo</h2>
      <p>Every part of Wisdoms’ Way is an intentional, heart-centered, and thought-out effort for Wisdoms’ Way to be a reflection of the sources it draws upon. The logo of Wisdoms’ Way is comprised of 4 influences that are interwoven in everything Wisdoms’ Way offers and the informs the philosophy of our work together.</p>
    </div>
    <div>
      <img class="inline" src="/uploads/logo.png"/>
      <div>
        <h2>The Lotus</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur et placeat sapiente. Voluptate dolores a necessitatibus laborum suscipit eaque ipsum. Quasi officia error incidunt autem reiciendis illum mollitia facere dignissimos!</p>
      </div>
    </div>
  </div>
</section> ----> 