---
layout: default
banner:
  background-position: bg-center
  banner-image: /uploads/beach_img_resized.jpg
  text-color: white
  heading: Contact Me
  sub-heading: 
---

<!-------Site Header ------>
{% include half-banner.html %}

<!-- Let's Connect -->
<section class="">
    <div class="grid grid-cols-2 mx-auto max-w-screen-2xl">
        <!-- Contact Form Div -->
        {% include contact-form.html %}
        <div class="bg-[url('/uploads/Lisa_beach.jpeg')] bg-cover bg-center"></div>
    </div>
</section>