---
layout: default
title: Home
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
banner:
  banner-image: /uploads/header_banner.png
  background-position: bg-[center_50%] 
  heading: Awaken the Wisdom Within you
about_image: /uploads/Lisa_tree.jpeg
contact_image: /uploads/footsteps-beach.jpg
---

<!-------Site Header ------>
{% include full-banner.html %}

<!-- Welcome Section -->
<section class="pb-8 bg-tan pt-5p">
  <div class="max-w-screen-xl px-12 mx-auto text-center">
    <h2 class="editable"> Welcome! </h2>
    <p class="text-lg editable"> Welcome to Wisdoms' Way.  Wisdoms' Way is a place of paths and practices to connect you with your inner truth and wisdom. One of the greatest gifts we can give ourselves and those around us is to know our truth and move in the world from the ground of our inner wisdom. Wisdoms' Way offers integrative coaching, personalized group classes, and consultation drawing on wisdoms traditions that expand the rational ways of knowing and invite intuition, creativity, play and flexibility for integration and understanding.</p>
  </div>
</section>

<!-- SVG to create the triangle down shape -->
<svg class="" viewBox="0 0 1431 168" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M708 168L1430.27 0H-14.2652L708 168Z" fill="#DED1BD"/>
</svg>
  

<!-- Services Section -->
<section class="p-5p">
  <div class="mx-auto text-center max-w-screen-2xl">
    <h2 class="pb-5p editable"> Offerings </h2>

      {% include services_loop.html %}

  </div>
</section>

<!-- Lisa's Intro -->
{% include lisa-bio.html %}

<!-- Testimonials -->
{% include testimonials.html %}

<!-- Let's Connect -->
{% include connect.html %}
