---
layout: default
title: Homepage
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
banner:
  background-position: bg-center
  banner-image: /uploads/beach_img_resized.jpg
  text-color: white
  heading: catchy heading
  sub-heading: catchy sub-heading
  link-text: learn more
---

<!-------Site Header ------>
{% include full-banner.html %}

<!-- Welcome Section -->
<section class="bg-red-200 p-5p">
  <div class="px-8 mx-auto text-center max-w-screen-2xl">
    <h2>Welcome!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, veniam asperiores qui quis quam tempore corrupti possimus! Illum tenetur numquam omnis laboriosam nam possimus porro repudiandae voluptatibus, atque, illo debitis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia eius nesciunt amet quibusdam minus labore vel at beatae odit mollitia totam cum aliquid molestias perspiciatis, suscipit tempore culpa est.</p>
  </div>
</section>

<!-- Add SVG to bottom to create the triangle down shape -->

<!-- Services Section -->
<section class="p-5p">
  <div class="mx-auto text-center max-w-screen-2xl">
    <h2>Awaken the Wisdom Within</h2>

    {% include services_link.html %}

    <a href="#" class="bg-yellow-600">Learn More</a>
  </div>
</section>