/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles --------- */

@layer base {

    body {
        @apply bg-creme text-brown;
    }

    h1, h2, h3, h4  {
        @apply mb-2 uppercase font-headings;
    }

    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-5xl;
    }
    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    p {
        @apply text-base font-paragraphs;
    }

    nav a {
        @apply text-base uppercase font-paragraphs;
    }

    .button {
        @apply px-4 py-2 text-base uppercase border bg-gold text-creme font-headings border-gold;
    }

    .button:hover {
        @apply px-4 py-2 text-base uppercase border bg-creme text-gold font-headings border-gold;
    }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    /* Hamburger Style */
    .hamburger-button {
        cursor: pointer;
        z-index: 2;
    }

    /* Styles when the hamburger button is active  */
    .hamburger-button.active{
        background-color: #DED1BD;
    }

    .mobile-menu {
        display: none; 
        background-color: #DED1BD; 
        text-align: center;
        padding: 35% 50% 25% 50%;
        position: absolute;
        top: 16px;
        right: 0;
    }

    .mobile-menu a {
        text-decoration: none; 
        color: #683B2B; 
        padding: 1vh 0;
        display: block;
    }


    /* Testimonial Slider CSS */
    .testimonial-overlay {
        position: relative;
        background-color: rgba(190, 190, 190, 0.5);
    }

    /* Typography Styles */  
    .author {
    margin-top: 0.5rem;
    font-style: italic;
    text-align: center;
    }

    .testimonial {
    font-weight: 800;
    }

    .quote-icon {
    font-size: 4rem;
    color: rgb(200,200,200);
    }

    /* Slider */
    .testimonial-slider-container {
    /* padding: 5%; */
    max-width: 900px;
    margin: auto;
    }

    .slider-item {
    padding: 2rem 2.5rem;
    display: none;
    }

    .slider-item:first-child {
    display: block;
    }

    .slick-next {
    right: 10px;
    }

    .slick-prev {
    left: 10px;
    }

    .slick-next::before, .slick-prev::before {
    font-family: inherit;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(90,90,90);
    }

/* !!CURRENT BUG WITH TAILWIND FOR STYLE ORDER OF APPLICATION!!  */
    .slick-dots {
    left: 0;
    bottom: 10px;
    /*  Without this the padding on the parent affects the centering of the dots. Do not delete.    */
    }

    .slick-dots li,
    .slick-dots li button {
    width: 10px;
    }

    .slick-dots li button::before {
    color: rgb(47, 223, 20);
    }

    .slick-dots li.slick-active button::before {
    color: rgb(90,90,90);
    }


    @media(max-width: 36em){
    .slider-item p { font-size: 1.1rem;}
    }
}

@layer utilities {

    /* This is the hover-grow animation */
    .hover-grow{
        transition-duration: .4s;
    }
    .hover-grow:hover{
        scale: 1.05;
    }

}