<div class="p-5p">
    <h2 class="text-3xl text-center uppercase">Let's Connect</h2>
    <form class="grid max-w-screen-xl gap-6 mx-auto"> 
        <input class="py-1 bg-transparent border-b placeholder:uppercase placeholder:text-brown text-brown" 
        type="text" name="name" placeholder="Name" aria-label="Name">
        
        <input class="py-1 bg-transparent border-b placeholder:uppercase placeholder:text-brown text-brown" 
        type="email" name="email" placeholder="Email" aria-label="email">
       
        <div>
            <label class="block uppercase text-brown" for="message">Message</label>
            <textarea class="w-full bg-transparent border placeholder:uppercase placeholder:text-brown text-brown" id="message" name="message" ></textarea>
        </div>
        
        <div class="-mt-2 text-right">
            <button class="bg-gold" type="submit">Submit</button>
        </div>
    </form>
</div>