<div class="relative p-5p" id="wayContact">
    <h2 class="mb-6 text-center uppercase editable">
        Get Connected
    </h2>
    <form class="grid max-w-2xl mx-auto" action="https://api.web3forms.com/submit" method="POST" action="#wayContact" id="wwContactForm">

        <!-- REQUIRED: Your Access key here. Don't worry this can be public -->
        <input type="hidden" name="access_key" value="b6ce305d-0bbe-424e-96dd-15e9c060b64b">
    
        <!-- Optional: Can be type="hidden" or type="text" for subject -->
        <input type="hidden" name="subject" value="New Submission from Wisdom-Way.com">
    
        <!-- Optional: From Name you want to see in the email
            Default is "Notifications". you can overwrite here -->
        <input type="hidden" name="from_name" value="Your Website Name">
    
        <!-- Required: if submitting without Javascript 
            (because by default web3form outputs json) -->
    
        <!-- If javascript, use "window.location.hash" for redirects -->
        <input type="hidden" name="redirect" value="https://wisdoms-way.com/connect">
    
        <!-- Optional: But Recommended: To Prevent SPAM Submission. 
            Make sure its hidden by default -->
        <input type="checkbox" name="botcheck" id="" style="display: none;">
    
        <!-- Custom Form Data: 
        Then you can include your own form data you wish to receive in email. -->
        <!--------- Name -------->
        <label for="name" class="uppercase font-headings"> Name </label>
        <input type="text" id="name" name="name" class="p-2 mb-2 bg-transparent border-t border-gold outline-gold" required />

        <!------- Email -------->
        <label for="email" class="uppercase font-headings"> Email </label>
        <input type="email" id="email" name="email" class="p-2 mb-2 bg-transparent border-t border-gold outline-gold" required />

        <!------- Message -------->
        <label for="message" class="uppercase font-headings"> Message </label>
        <textarea id="message" name="message" class="p-2 mb-2 bg-transparent border border-gold outline-gold"></textarea>

        <!-------Checkbox -------->
        <div class="flex">
            <input type="checkbox" id="newsletter" class="p-2 mb-8" name="newsletter" value="subscribed">
            <label for="newsletter" class="pb-8 ml-2 uppercase font-headings">  <span class="editable"> Stay Connected with news and updates </span> </label>
        </div>

        <div class="text-right">
            <input class="border button" type="submit" value="connect" id="submitBtn"/>
        </div>
        
    </form>
    <div id="thank_you" style="display: none;">
        <div class="absolute bottom-4 left-4">
            <h3>Thanks for connecting!</h3> 
            <p>I’ll get back to you as soon as I can.</p>
        </div>
    </div>
</div>

