<div class="relative p-5p" id="wayContact">
    <h2 class="mb-6 text-center uppercase editable">
        Get Connected
    </h2>
    <form class="grid max-w-2xl mx-auto" method="post" action="#wayContact" id="wwContactForm"> 
        <label for="name" class="uppercase font-headings"> Name </label>
        <input type="text" id="name" name="name" class="p-2 mb-2 bg-transparent border-t border-gold outline-gold" />
        
        <label for="email" class="uppercase font-headings"> Email </label>
        <input type="email" id="email" name="email" class="p-2 mb-2 bg-transparent border-t border-gold outline-gold" />

        <label for="message" class="uppercase font-headings"> Message </label>
        <textarea id="message" name="message" class="p-2 mb-8 bg-transparent border border-gold outline-gold"></textarea>

        <input type="hidden" name="inbox_key" value="contact-form">
        <input type="text" name="_gotcha" style="display: none;">

        <div class="text-right"> <input class="border button" type="submit" value="connect" id="submitBtn"/> </div>
    </form>
    <div id="thank_you" style="display: none;">
        <div class="absolute bottom-4 left-4">
            <h3>Thanks for connecting!</h3> 
            <p>I’ll get back to you as soon as I can.</p>
        </div>
    </div>
</div>

