<div x-data="{ open: false }" class="relative" @mouseleave="open = false">
    <button @mouseover="open = true" class="flex items-center p-2 md:p-4">
        <a href="{{include.url}}">{{include.name}}</a>
    </button>
    <div x-show="open" class="absolute w-40 text-left shadow-lg left-4 top-11 bg-tan">
        <a href="{{include.url1}}" class="block px-4 py-2 text-brown hover:text-pink">
            {{include.l1}}
        </a>
        {% if include.l2 %}
            <a href="#" class="block px-4 py-2 text-brown hover:text-pink">
                {{include.l2}}        
            </a>
            {% if include.l3 %}
            <a href="#" class="block px-4 py-2 text-brown hover:text-pink">
                {{include.l3}} 
            </a>
            {% endif %}
        {% endif %}
    </div>
</div>