<!--  image banner block that takes up most of the full screen  -->
<section class="p-5p bg-cover min-h-90 items-center text-brown justify-center {{page.banner.background-position}} flex" style="background-image: url('{{page.banner.banner-image}}')">
    <div> 
       <h1 class="text-3xl font-serif text-[8vw] font-light uppercase p-5"> {{page.banner.heading | default: page.title }}  </h1> 
       <p class="p-5 text-2xl font-light text-center uppercase"> {{ page.banner.sub-heading }} </p> 
    </div> 
</section> 
