<!--  image banner block that takes up most of the full screen  -->
<section class="flex items-center justify-center bg-cover py-5p md:min-h-100 min-h-80" style="background-image: url('{{page.banner.banner-image}}'); background-position: {{page.banner.background-position}};">
    <div class="mt-20 text-center"> 
        <h1 class="md:text-[5vw] text-5xl uppercase p-5 text-creme bg-blend-hard-light animate-from-bottom"> {{page.banner.heading | default: page.title }} </h1>
        
        <!-- If statement adds a sub-heading if one exists-->
        {% if {{page.banner.sub-heading}} %}
            <{{page.banner.heading2_select}} class="p-5 bg-blend-hard-light animate-from-bottom md:text-[2vw] text-creme"> {{page.banner.sub-heading}}</{{page.banner.heading2_select}}>
        {% endif %}
    </div> 
</section>