<!-- Lisa's Intro -->
<section class="p-5p">
    <div class="grid items-center grid-cols-5 mx-auto max-w-screen-2xl">
        
        <!-- Image -->
        <div class="pb-6 col-span-full sm:col-span-2">
            <div class="editable bg-cover bg-center aspect-square bg-[url('/uploads/Lisa_tree.jpeg')]"></div>
        </div>
        
        <!-- Copy -->
        <div class="flex items-center px-8 pb-6 col-span-full sm:col-span-3 bg-creme">
            <div>
                <p class="text-2xl italic editable">Get to Know</p>
                <h2 class="pb-2 editable">Dr. Lisa Rambaldo</h2>
                <div class="pb-5 editable">
                    <p> {{page.about.copy}}</p>
                </div>
                <!-- Bio.Button needs to say 'true' -->
                {% if page.about.button %}
                <a class="button" href="/about.html"> Learn More</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>