<!-- Lisa's Intro -->
<section class="p-5p">
    <div class="grid items-center grid-cols-5 mx-auto max-w-screen-2xl">
        
        <!-- Image -->
        <div class="pb-6 col-span-full sm:col-span-2">
            <div class="bg-center bg-cover aspect-square rounded-3xl" style="background-image: url('{{page.about_image}}');"></div>
        </div>
        
        <!-- Copy -->
        <div class="flex items-center px-8 pb-6 col-span-full sm:col-span-3 bg-creme">
            <div>
                <p class="text-2xl italic editable">
                </p>
                <h2 class="pb-2 editable">
                    About Lisa
                </h2>
                {% if page.title == "Home" %}
                    <div class="pb-5 editable">
                        <p>Hi, I'm Lisa!&nbsp; Wisdoms’ Way was created from my desire to connect with others and help them discover the Wisdom that lies within!&nbsp; My life’s journey has been an exploration from the halls of academic medicine to sacred ceremonies and spiritual practice, studying and gleaning insights from wisdom traditions across the globe. This voyage has taught me a profound truth: there isn't just one path to inner wisdom, but many. Hence,&nbsp;<em>Wisdoms’ Way</em>.</p>
                    </div>
                    <a class="button" href="/about"> Learn More </a>
                {% elsif page.title == "About" %}
                    <div class="pb-5 editable">
                        <p>I have been drawn to understand and honor the unique expression of life that lives within each of us for as long as I can remember.&nbsp; I have also been intrigued by how the call to know the true Self and the desire to live life with purpose, happiness and ease is a shared and universal desire.&nbsp; Across my life I have studied and explored Wisdom Traditions across the globe. My formal studies are enhanced by three decades of international travel to sacred spaces as well as decades of practice in Wisdom traditions, including time with teachers and elders of various paths.&nbsp; I have found a wonderful result of the universal human desire for deeper knowing is that those who have come before us - individually (the mystics) and as a collective (cultural traditions) - have left insights and practices that offer each of us ways to connect with our inner Wisdom.</p>
                        <p> </p>
                        <p>In my professional life I have worked in hospitals and large institutions as a psychologist, teacher, mentor,&nbsp; and consultant. My soul's wish is bring my experience, passion, and awe for the human spirit to Wisdoms' Way and work with individuals and groups in a capacity that aligns with the inherent wellness and wholeness within each person. Bringing knowledge, compassion and courage to all I do, it is my heart's desire to engage with others in a way that is both personal and connects us with the collective, allowing the space for exploration, creativity, and integration of shadow and light to find your unique path to awakening the Wisdom within you.&nbsp;</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>