<section>
    <div class="bg-center bg-cover" style="background-image: url('')"> 
        <h2 class="text-center editable">
            <br/>Meet the Logo
        </h2>     
        <!-- Testimonial Slider -->
        <div class="px-4 mx-auto text-center pb-5p max-w-screen-2xl ">
            <div class="testimonial-slider-container">
                {% for item in site.data.logo-meet.logo %}
                <div class="slider-item">
                    <div class="grid sm:grid-cols-9">
                        <div class="pt-4 col-span-full"><h3 class="mb-0">{{item.title}}</h3></div>
                        <div class="aspect-[3/4] px-2 min-h-[20vh] sm:col-span-2 bg-center bg-contain bg-no-repeat" style="background-image: url('{{item.image}}')"></div>
                        <div class="self-center px-6 text-left sm:col-span-7"><p>{{item.copy}}</p></div>
                    </div>
                </div> 
                {% endfor %}
            </div> 
        </div>    
    </div>
</section>