<div class="grid gap-10 sm:grid-cols-3">
    {% for page in site.services %}
    <div class="hover-grow">
        <a href="{{page.url}}">
            <div class="bg-cover p-[50%] bg-center rounded-t-3xl" style="background-image: url('{{page.featured-image}}')"></div>
            <div class="p-4 bg-tan sm:min-h-[422px] md:min-h-[366px] lg:min-h-[300px] xl:min-h-[220px] grid">
                <h4 class="mb-2 font-bold hover:text-gold"> {{page.title}}</h4>
                <p class="mb-4">{{page.summary}}</p>
                <div class="self-end max-w-[130px] mx-auto button inline-block"> Learn More </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>