<div class="grid grid-cols-3 gap-10">
    {% for page in site.services %}
    <div>
        <div class="aspect-portrait">
            <img src="{{ page.featured-image }}" class="object-cover w-full h-full rounded-t-3xl">
        </div>
        <div class="p-4 bg-[#DED1BD]">
            <h2>{{page.title}}</h2>
            <hr class="w-3/5 mx-auto border-[#B08401]">
            <p>{{page.description}}</p>
            <a href="#" class="px-4 bg-[#B08401]">Book Now</a>
        </div>
    </div>
    {% endfor %}
</div>