<footer class="p-4 bg-brown">
  <div class="grid justify-around max-w-screen-xl grid-cols-6 mx-auto">

    <!-- Logo -->
    <div class="items-center text-center col-span-full md:col-span-2">
      <!-- 
        <div class="inline-block max-w-[40%]"><a href="/index.html"><img src="/uploads/logo.png"></img></a></div> 
      -->
      <a href="/index.html"><div class="pt-48 min-w-[265px] min-h-[110px] bg-center bg-no-repeat bg-[url('/uploads/logo.png')]"></div></a> 
    </div> 

    <!-- Explore Nav -->
    <div class="col-span-3 p-4 md:col-span-2 md:order-first">
      <h4 class="p-1 font-bold uppercase text-gold"> Explore </h4>
      <nav>
        <a href="/about.html" class="block p-1 text-sm uppercase text-creme hover:text-pink"> About </a>
        <a href="#" class="block p-1 text-sm uppercase text-creme hover:text-pink"> Services </a>
        <a href="/blog.html" class="block p-1 text-sm uppercase text-creme hover:text-pink"> Blog </a>
        <a href="/contact.html" class="block p-1 text-sm uppercase text-creme hover:text-pink"> Connect </a>
      </nav>
    </div> 

    <!-- Get in Touch -->
    <div class="col-span-3 p-4 text-right md:col-span-2">
      <h4 class="p-1 font-bold uppercase text-gold"> Contact </h4> 
      <nav>
        <a href="#" class="block p-1 text-sm uppercase text-creme hover:text-pink"> connect@wisdoms-way.com</a>
        <a href="#" class="block p-1 mb-2 text-sm uppercase text-creme"> +1-555-555-5555 </a>
        <a href="#" class="button"> Book Now </a>
      </nav> 
    </div>

  </div>
</footer>
