
<header class="px-5p py-3 flex absolute top-0 w-screen bg-gradient-to-b from-20% from-[#FAF6F2] justify-center text-center ">
  
  <nav class="flex items-center text-lg gap-x-11 max-sm:hidden">
    <a class="p-2" href="/about">About</a>
    {% include dropdown_nav.html name="Offerings" url="/offerings" 
      l1="Coaching" url1="/integrative-coaching"
      l2="Courses" url2="/courses"
      l3="Celestial Connections" url3="/celestial-connections" %}
    <div class="inline-block max-w-[25%]"> <a href="/index"> <img src="/uploads/logo.png"></img> </a> </div>
    <a class="p-2" href="/meet-the-logo">Meet the Logo</a>
    <!-- <a class="p-2" href="/blog">Blog</a> -->
    <a class="p-2" href="/contact">Connect</a>
  </nav> 

  <div class="max-w-[45%] sm:hidden ml-[33vw]"> <a href="/index"> <img src="/uploads/logo.png"></img> </a> </div>
  <div class="flex items-center justify-end w-[67vw] sm:hidden">
    <div class="relative space-y-2 hamburger-button">
      <div class="w-8 h-0.5 bg-brown"></div>
      <div class="w-8 h-0.5 bg-brown"></div>
      <div class="w-8 h-0.5 bg-brown"></div>
      <div class="shadow-lg mobile-menu">
        <div class="-mt-4 -mr-2 text-right">X</div> 
        <nav class="text-left">
          <a class="p-4" href="/about>About</a>
          <a class="p-4" href="/offerings"> Offerings</a>
          <a class="p-4" href="/meet-the-logo"> Meet the Logo</a>
          <!--- <a class="p-4" href="/blog.html">Blog</a> ----> 
          <a class="p-4" href="/contact"> Connect</a>
        </nav> 
      </div>
    </div>
  </div>
</header>

