<footer class="text-white p-5p bg-amber-900">
  <div class="max-w-screen-xl grid-cols-3 mx-auto md:grid">
      

      <!-- Explore Nav -->
      <nav class="p-4">
        <h2 class="p-1 font-bold tracking-wide border-b"> Explore </h2>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase"> About </a>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase"> Services </a>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase"> Blog </a>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase"> Connect </a>
      </nav> 

      <!-- Logo -->
      <div class="p-4">
        <a href="#" class="block mb-4 font-serif text-4xl">
          <img src="/uploads/logo.png"></img>
        </a>
      </div> 

      <!-- Get in Touch -->
      <nav class="p-4">
        <h2 class="p-1 font-bold tracking-wide border-b"> Get in Touch </h2>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase"> connect@wisdoms-way.com</a>
        <a href="#" class="block p-1 text-sm tracking-wide uppercase"> +1-555-555-5555 </a>
        <div class="p-4 bg-yellow-600">Book Now</div>
      </nav> 

    </div>
  </footer>
  