<header class="px-5p absolute top-0 left-0 right-0 flex justify-center max-w-screen-xl mx-auto text-center border-b border-brown">
  <nav class="md:flex gap-x-11 my-4 text-lg tracking-widest items-center">
    <a class="p-4" href="/about.html">About</a>
    <a class="p-4" href="/integrative-coaching">Services</a>
    <div class="inline-block max-w-[25%]"> <a href="/index.html"> <img src="/uploads/logo.png"></img> </a> </div>
    <a class="p-4" href="">Blog</a>
    <a class="p-4" href="/contact.html">Connect</a>
  </nav> 
</header>