<header class="absolute top-0 left-0 right-0 flex justify-center max-w-screen-xl mx-auto text-center border-b px-5p border-brown">
  <nav class="items-center my-4 text-lg tracking-widest uppercase md:flex gap-x-11 font-subheading">
    <a class="p-4" href="">About</a>
    <a class="p-4" href="/custom-courses">Services</a>
    <div class="inline-block p-4 max-w-[25%]"> <a href="/index.html"> </a> <img src="/uploads/logo.png"></img> </div>
    <a class="p-4" href="/integrative-coaching">Blog</a>
    <a class="p-4" href="/contact.html">Connect</a>
  </nav> 
</header>