<footer class="p-4 bg-tan">
  <div class="grid justify-around max-w-screen-xl grid-cols-6 mx-auto">

    <!-- Logo -->
    <div class="items-center text-center col-span-full md:col-span-2">
      <!-- 
        <div class="inline-block max-w-[40%]"><a href="/index.html"><img src="/uploads/logo.png"></img></a></div> 
      -->
      <a href="/index"><div class="pt-48 min-w-[261px] min-h-[110px] bg-center bg-no-repeat" style="background-image: url('/uploads/logo.png');"></div></a> 
    </div> 

    <!-- Explore Nav -->
    <div class="col-span-3 p-4 md:col-span-2 md:order-first">
      <h4 class="p-1 font-bold uppercase text-brown"> Explore </h4>
      <nav>
        <a href="/about" class="block p-1 text-gold"> About </a>
        <a href="/offerings" class="block p-1 text-gold"> Offerings </a>
        <a class="block p-1 text-gold" href="/meet-the-logo"> Meet the Logo</a>
        <!--- <a href="/blog" class="block p-1 text-creme"> Blog </a> ---->
        <a href="/connect" class="block p-1 text-gold"> Connect </a>
      </nav>
    </div> 

    <!-- Get in Touch -->
    <div class="col-span-3 p-4 text-right md:col-span-2">
      <h4 class="p-1 font-bold uppercase text-brown"> Connect </h4> 
      <nav>
        <a href="mailto:connect@wisdoms-way.com" class="block p-1 text-gold"> connect@wisdoms-way.com</a>
        <a href="tel:+17276778527" class="block p-1 text-gold"> +1-(727)677-8527 </a>
        <a href="https://www.instagram.com/wisdoms_way/" class="block p-1 mb-2 text-gold"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="https://calendly.com/wisdoms-way/free-consultation-call" class="button"> Book Now </a>
      </nav> 
    </div>

  </div>
  <!-- Attribution 
  <div class="text-center opacity-40 col-span-full text-brown">
    <p class="text-sm">© 2023 Wisdom's Way - Site by <a href="https://viasana.co" class="underline hover:text-gold">ViaSana.co</a></p>
  </div> -->
  <div class="text-center opacity-40 col-span-full text-brown">
    <p class="text-sm">© 2023 Wisdom's Way</p>
  </div>
</footer>
