<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body class="bg-creme">
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}

    <!------------ Javascript  --------->
    <!-- Alpine -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Slick Slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>

    <!-- Custom ALWAYS LAST -->
    <script src="/web3Form.js"></script>
    <script src="/logoBuild.js.js"></script>
    <script src="/main.js"></script>

</body>
</html>