---
layout: default
---
<!-- Give space for the header nav -->
<div class="h-[150px]"></div>

<section class="mx-auto max-w-screen-2xl"> 
    <div class="grid grid-cols-9 gap-4">
        <div class="self-end max-w-lg px-8 py-12 col-span-full md:col-span-4">
            <h1 class="text-6xl blog-heading">{{page.title}}</h1>
            <h2 class="py-4 text-2xl uppercase blog-type2"> {{page.subtitle}}</h2>
            <p class="mb-6"> {{page.description}} </p>
        </div>
        <div class="relative col-span-5 max-md:hidden">
            <img src="{{page.featured-image}}" class="object-cover w-full max-h-[600px]">
        </div>
    </div>
</section> 

<!-- What to Expect -->
<section class="mx-auto max-w-screen-2xl">
    <div class="grid grid-cols-9">
        <div class="py-8 pl-8 md:col-span-4 col-span-full">
            <div class="inline-block border-b-2 border-gold">
                <h4 class="pb-2 text-2xl uppercase">What To Expect</h4>
            </div>
            <ul class="m-6 list-disc">
                {% for item in page.what-to-expect %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="self-center py-8 mx-4 md:col-span-5 col-span-full">
            <h2 class="pb-4 text-2xl">FAQ's</h2>
            
            {% include accordion.html accordion-source=page.faqs %}
            
        </div>
    </div>
</section>

<!-- Related Products -->

<section class="p-5p">
    <h2 class="pb-4 text-4xl tracking-wide text-center uppercase"> Other Services </h2>
    <div class="max-w-screen-xl mx-auto">

        {% include services_loop.html %}

    </div>
</section>