---
layout: default
---
<!-- Give space for the header nav -->
<div class="h-[110px]"></div>

<section class="mx-auto max-w-screen-2xl"> 
    <div class="grid grid-cols-5 gap-4">
        <div class="self-center px-8 py-12 col-span-full md:col-span-3">
            <h1 class="">{{page.service_heading}}</h1>
            <h4 class=""> {{page.subtitle}} </h4>
            <p class="mb-6"> {{page.description}} </p>
            <a href="https://calendly.com/wisdoms-way/free-consultation-call" class="button"> Book Now</a>
        </div>
        <div class="order-first px-8 md:p-8 col-span-full md:col-span-2 md:order-2">
            <div class="bg-center bg-cover animate-from-bottom aspect-square rounded-3xl" style="background-image: url('{{page.featured-image}}');"></div>
        </div>
    </div>
</section> 

<!-- What to Expect -->
<section class="mx-auto max-w-screen-2xl px-5p">
    <div class="grid grid-cols-9 py-10p">
        <div class="md:col-span-4 col-span-full">
            <div class="inline-block">
                <h3 class="pb-2 font-bold border-b-2 border-[#D49E8D]"> What To Expect </h3>
            </div>
            <ul class="m-6 list-disc">
                {% for item in page.what-to-expect %}
                    <li><p>{{item}}</p></li>
                {% endfor %}
            </ul>
        </div>

        <div class="mx-4 md:col-span-5 col-span-full">
            <h3 class="pb-2 font-bold border-b-2 border-[#D49E8D]">FAQ's </h3>
            
            {% include accordion.html accordion-source=page.faqs %}
            
        </div>
    </div>
</section>

<!-- Related Products -->

<section class="p-5p">
    <h2 class="pb-4 text-center"> Additional Offerings </h2>
    <div class="max-w-screen-xl mx-auto text-center">

        {% include services_loop.html %}

    </div>
</section>